.layout {
	--navHeight: 75px;
	@include flex-col-c;
	position: relative;
	width: 100%;
}

header {
	@include flex-c;
	height: var(--navHeight);
	width: 100%;
	background-color: cornsilk;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	left: 0;
	transform-style: preserve-3d;

	.logo {
		@include flex-c;

		img {
			width: 42px;
			margin-right: 5px;
		}

		&-text {
			margin-top: 4px;
			font-size: 2em;
			white-space: nowrap;
			font-family: 'Satisfy', cursive;
		}
	}

	.search {
		@include flex-c;
		flex-grow: 1;
		height: 30px;

		input {
			max-width: 460px;
			width: 60%;
			height: 100%;
			padding: 0 7px;
			font-size: 1.7rem;
			font-weight: 300;
			color: dimgray;
			border-radius: 5px;
			border-width: 1px;
			border-color: dimgray;
			transform: translateY(0) translateZ(10px);
		}

		.toggle-search {
			display: none;
			text-align: center;
			width: 40px;
			height: 40px;
			background: none;
			border: none;
			cursor: pointer;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	.user-panel {
		@include flex-c;

		.toggle-nav {
			background: none;
			border: none;
			cursor: pointer;
			margin-right: 2px;

			svg {
				width: 45px;
				height: 45px;
			}

			&:hover svg {
				fill: red;
			}
		}

		nav {
			@include flex-col-c;
			position: absolute;
			top: 0;
			right: 0;
			transform: translateY(-700px) translateZ(-10px);
			background: darkslateblue;
			color: whitesmoke;
			width: 300px;
			padding: 1rem;
			transition: 0.6s;

			a {
				color: whitesmoke;

				&:not(:last-child) {
					margin-bottom: 1rem;
				}

				&:hover {
					color: red;
				}
			}

			&.active {
				transform: translateY(var(--navHeight));
			}
		}

		&-img {
			width: 45px;

			img {
				border-radius: 50%;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	@include device('tab-port') {
		justify-content: space-between;

		.search {
			.toggle-search {
				display: inline-block;
			}

			input {
				position: absolute;
				top: 0;
				height: 30px;
				transform: translateY(0) translateZ(-10px);
				transition: transform 0.5s;

				&.active {
					transform: translateY(var(--navHeight)) translateZ(-10px);
				}
			}
		}
	}

	@include device('mobile') {
		justify-content: space-between;

		.user-panel {
			nav {
				width: 100%;
			}
		}
	}
}

main {
	@include flex-col-c;
	justify-content: start;
	margin-top: calc(var(--navHeight) + 1rem);
	margin-bottom: 1rem;
	width: 100%;
	padding: 1.6rem;
	background-color: darkseagreen;

	.main-content {
		@include flex-col-c;
		justify-content: start;
		background-color: antiquewhite;
		height: 1100px;
		width: 100%;

		h1 {
			text-transform: uppercase;
		}

		.list-box {
			width: 85%;

			&__list {
				@include flex-col-c;
				width: 100%;
				list-style: none;

				&-item {
					@include flex-c;
					justify-content: start;
					width: 100%;

					&:not(:last-child) {
						margin-bottom: 1rem;
					}

					.icon {
						@include flex-c;
						width: 40px;
						margin-right: 2.5rem;
					}

					.main-link {
						min-width: 55%;
						margin-right: auto;
					}

					.end-links {
						@include flex-c;

						a {
							&:not(:last-child) {
								margin-right: 7px;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	@include flex-c;
	align-items: start;
	height: 100px;
	width: 100%;
	background-color: cornsilk;
}
