* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	@include flex-col-c;
	justify-content: start;
	min-height: 100vh;
	background-color: whitesmoke;
	background-color: midnightblue;
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
}
